<section class="container">
  <p class="tittle"> BMI Delete User </p>
  <div class="alert" *ngIf="alert">
    <Strong>Success!</Strong> your data was successfully deleted!
    <div>
      <button (click)="closeAlert()" type="button" class="button">Close</button>
    </div>
  </div>

  <form (ngSubmit)="deleteUser(id)" class="form">
    <div>
      <mat-form-field appearance="legacy" class="inputField">
        <mat-label for="id">ID</mat-label>
        <input disabled="true" matInput type="text" class="form-control" id="id" [(ngModel)]="id" name="id"
               placeholder="ID">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="legacy" class="inputField">
        <mat-label for="firstName">First Name</mat-label>
        <input disabled="true" matInput type="text" class="form-control" id="firstName" [(ngModel)]="firstName"
               name="first name"
               placeholder="First Name">
      </mat-form-field>
    </div>

    <div *ngIf="!disableDelete">
      <button disabled="false" mat-raised-button type="submit" class="button">Delete</button>
    </div>
    <div *ngIf="disableDelete">
      <button disabled="true" mat-raised-button type="submit" class="button">Delete</button>
    </div>

  </form>
</section>
