<section class="container">
  <p class="tittle"> BMI Form </p>
  <form (ngSubmit)="imcForm()" class="form">
    <p>
      <mat-form-field class="inputField"
                      appearance="legacy">
        <mat-label for="firstName">First Name</mat-label>
        <input matInput
               class="form-control"
               type="text"
               id="firstName"
               [(ngModel)]="firstName"
               name="firstName"
               placeholder="First Name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy" class="inputField">
        <mat-label for="lastName">Last Name</mat-label>
        <input matInput
               class="form-control"
               type="text"
               id="lastName"
               [(ngModel)]="lastName"
               name="lastName"
               placeholder="Last Name">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy" class="inputField">
        <mat-label for="height">Height</mat-label>
        <input matInput
               class="form-control"
               type="number"
               id="height"
               [(ngModel)]="height"
               name="height"
               placeholder="Height">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy" class="inputField">
        <mat-label for="height">Weight</mat-label>
        <input matInput
               class="form-control"
               type="number"
               id="weight"
               [(ngModel)]="weight"
               name="weight"
               placeholder="Weight">
      </mat-form-field>
    </p>
    <p>
      <button mat-raised-button
              class="button"
              type="submit">Submit
      </button>
    </p>
  </form>
</section>
